esp32_node-red.json
[
    {
        "id": "798c65021df9e7ad",
        "type": "tab",
        "label": "esp32-node-red",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9640217c3c6f9815",
        "type": "ui_button",
        "z": "798c65021df9e7ad",
        "name": "",
        "group": "8226e6fe8ab44475",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a617dad149a8ed0d"
            ]
        ]
    },
    {
        "id": "b5a6a2fe54195f02",
        "type": "ui_button",
        "z": "798c65021df9e7ad",
        "name": "",
        "group": "8226e6fe8ab44475",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "54abd8e2d092dad3"
            ]
        ]
    },
    {
        "id": "a617dad149a8ed0d",
        "type": "mqtt out",
        "z": "798c65021df9e7ad",
        "name": "encender",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "798a22656f1cd245",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "54abd8e2d092dad3",
        "type": "mqtt out",
        "z": "798c65021df9e7ad",
        "name": "apagar",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "798a22656f1cd245",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "7bc6034f03efb2a7",
        "type": "ui_slider",
        "z": "798c65021df9e7ad",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "8226e6fe8ab44475",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": "30",
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "f82da607d44c55f8"
            ]
        ]
    },
    {
        "id": "f82da607d44c55f8",
        "type": "mqtt out",
        "z": "798c65021df9e7ad",
        "name": "",
        "topic": "esp32/servo",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "798a22656f1cd245",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "2ff7ccb00222408e",
        "type": "mqtt in",
        "z": "798c65021df9e7ad",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "798a22656f1cd245",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "43f59bbbe71c533e"
            ]
        ]
    },
    {
        "id": "43f59bbbe71c533e",
        "type": "ui_chart",
        "z": "798c65021df9e7ad",
        "name": "",
        "group": "8226e6fe8ab44475",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "Temperatutra",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5f3968491eef64d3",
        "type": "ui_spacer",
        "z": "798c65021df9e7ad",
        "name": "spacer",
        "group": "83361c8e4f64a8bb",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "8226e6fe8ab44475",
        "type": "ui_group",
        "name": "ESP32",
        "tab": "f6706298be6e00b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "798a22656f1cd245",
        "type": "mqtt-broker",
        "name": "esp32",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6706298be6e00b9",
        "type": "ui_tab",
        "name": "ConnectingEverything",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]